.price-container {
  display: flex;
  flex-wrap: wrap;

  .product-detail-price-container {
    flex: 1 0 auto;
  }

  .product-detail-form-container {
    flex: 5 0 auto;
  }
}

.product-detail-ordernumber-container {
  display: none;
}

.product-detail-main {
  .product-detail-name-container {
    padding-left: 0;
  }

  .product-detail-name {
    @include montserrat-regular(3.75rem);
    text-transform: uppercase;
  }
}

.product-info {
  margin-top: 100px;

  .product-info-title {
    @include montserrat-regular(2.5rem);
    text-transform: uppercase;
  }

  .product-info-text {
    margin-top: 50px;
  }

  .product-info-additional-container {
    margin-top: 50px;
  }

  .product-info-additional-content {
    position: relative;
    margin: 0 0 30px 110px;

    &::before {
      content: "";
      position: absolute;
      width: 100px;
      top: 5px;
      left: -110px;
      border-top: 3px solid black;
    }
  }
}

@mixin question-icon($top: 15px) {
  position: absolute;
  left: 550px;
  top: $top;

  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: -10px;
    left: -13px;
    border-left: 2px solid black;
    border-top: 2px solid black;
  }

  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    right: -13px;
    bottom: -10px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
  }
}

.question-container {
  position: relative;
  margin-top: 150px;

  .question-title {
    @include montserrat-regular(2.5rem);
    text-transform: uppercase;
    margin-top: 50px;
  }

  .question-text {
    margin-top: 15px;
  }

  .whatsapp-icon {
    @include question-icon(15px);
  }

  .telegram-icon {
    @include question-icon(80px);
  }
}

@mixin why-aikon-icons($icon-name: $icon-HightecXNatur) {
  &::before {
    content: $icon-name;
    font-family: $aikon-font-family;
    position: absolute;
    font-size: 5em;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.why-aikon-container {
  .why-aikon-text {
    @include montserrat-regular(5rem);
    text-transform: uppercase;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 100px;
      top: 5px;
      left: -110px;
      border-top: 3px solid black;
    }
  }

  .why-aikon-points-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .why-aikon-points {
    @include montserrat-regular(1rem);
    position: relative;
    flex: 1 0 16%;
    text-align: center;
    margin-top: 80px;
  }

  .HightecXNatur {
    @include why-aikon-icons($icon-HightecXNatur);
  }

  .functionalDose {
    @include why-aikon-icons($icon-functionalDose);
  }
  .bnh {
    @include why-aikon-icons($icon-bnh);
  }
  .jungeHaut {
    @include why-aikon-icons($icon-jungeHaut);
  }
  .fuerAlle {
    @include why-aikon-icons($icon-fuerAlle);
  }
  .noBS {
    @include why-aikon-icons($icon-noBS);
  }
  .nachhaltig {
    @include why-aikon-icons($icon-nachhaltig);
  }
  .madeInDe {
    @include why-aikon-icons($icon-madeInDe);
  }
  .violettGlas {
    @include why-aikon-icons($icon-violettGlas);
  }
  .vegan {
    @include why-aikon-icons($icon-vegan);
  }
  .tierversuchsfrei {
    @include why-aikon-icons($icon-tierversuchsfrei);
  }
  .ohneSilikoneParabene {
    @include why-aikon-icons($icon-ohneSilikoneParabene);
  }
}
