$aikon-primary: #000;

// Miscellaneous

$aikon-assets-path: "/shopware6new/public/bundles/mytheme/assets/";

// Iconset Aikon

$aikon-font-family: "iconset-aikon" !default;
$aikon-font-path: "fonts/iconset-aikon" !default;

$icon-bnh: "\e900";
$icon-fuerAlle: "\e901";
$icon-functionalDose: "\e902";
$icon-HightecXNatur: "\e903";
$icon-jungeHaut: "\e904";
$icon-madeInDe: "\e905";
$icon-nachhaltig: "\e906";
$icon-noBS: "\e907";
$icon-ohneSilikoneParabene: "\e908";
$icon-tierversuchsfrei: "\e909";
$icon-vegan: "\e90a";
$icon-violettGlas: "\e90b";
