{% sw_extends '@Storefront/storefront/page/product-detail/index.html.twig' %}

{% block page_product_detail_media %}
	<div class="col-lg-4 product-detail-media">
		{% if page.product.media %}
			{% sw_include '@Storefront/storefront/element/cms-element-image-gallery.html.twig' with {
                    'mediaItems': mediaItems,
                    'zoom': true,
                    'zoomModal': true,
                    'displayMode': 'contain',
                    'gutter': 5,
                    'minHeight': '430px',
                    'navigationArrows': 'inside',
                    'navigationDots': 'inside',
                    'galleryPosition': 'left',
                    'isProduct': true,
                    'fallbackImageTitle': page.product.translated.name,
                    'startIndexThumbnails': page.product.cover.position + 1,
                    'startIndexSlider': page.product.cover.position + 1
                } %}
		{% endif %}
	</div>
{% endblock %}

{% block page_product_detail_buy %}
	<div class="col-lg-8 product-detail-buy">
		{% sw_include '@Storefront/storefront/page/product-detail/buy-widget.html.twig' %}
	</div>
{% endblock %}

{% block page_product_detail_tabs %}
	<div class="why-aikon-container">
		<div class="why-aikon-points">
			<span class="iconset-aikon icon-HightecXNatur"></span>
			Hightech trifft Natur
		</div>
		<div class="why-aikon-points">
			<span class="iconset-aikon icon-functionalDose"></span>
			Hohe Wirkstoff- Dosierung
		</div>
		<div class="why-aikon-points">
			<span class="iconset-aikon icon-bnh"></span>
			Mikroverkapselte Wirkstoffe
		</div>
		<div class="why-aikon-points">
			<span class="iconset-aikon icon-jungeHaut"></span>
			Speziell für junge Haut entwickelt
		</div>
		<div class="why-aikon-points">
			<span class="iconset-aikon icon-fuerAlle"></span>
			Für alle
		</div>
		<div class="why-aikon-points">
			<span class="iconset-aikon icon-noBS"></span>
			Ohne: Petrolate, Mikro-/Nanoplastik
		</div>
		<div class="why-aikon-points">
			<span class="iconset-aikon icon-nachhaltig"></span>
			Nachhaltig Produziert
		</div>
		<div class="why-aikon-points">
			<span class="iconset-aikon icon-madeInDe"></span>
			Hergestellt in Deutschland
		</div>
		<div class="why-aikon-points">
			<span class="iconset-aikon icon-violettGlas"></span>
			Violettglas statt Plastik
		</div>
		<div class="why-aikon-points">
			<span class="iconset-aikon icon-vegan"></span>
			Vegan
		</div>
		<div class="why-aikon-points">
			<span class="iconset-aikon icon-tierversuchsfrei"></span>
			Keine Tierversuche
		</div>
		<div class="why-aikon-points">
			<span class="iconset-aikon icon-ohneSilikoneParabene"></span>
			Ohne: Silikone, Parabene
		</div>
	</div>
	{{ parent() }}
{% endblock %}
