// Font Mixin in Template

@mixin montserrat-light($size: 1rem) {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: $size;
}

@mixin montserrat-regular($size: 1rem) {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: $size;
}

@mixin montserrat-bold($size: 1rem) {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: $size;
}
